<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vite-plugin-vue-docs</title>
    <style>
        @media (min-width: 1680px) {
            .vue-docs-container {
                width: 1680px;
                margin: 0 auto;
            }
        }    
    </style>   
</head>
<body>
    <div class="vue-docs-container">
        <div class="vue-docs-content">
           <h1>组件名</h1>
            {{#if props}}
                <div class="card props">
                    <h2>{{props.h2}}</h2>
                    <table>
                        <thead>
                            <tr>
                                {{#each props.table.headers}}
                                <th>{{this}}</th>
                                {{/each}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#each props.table.rows}}
                            <tr>
                                {{#each this}}
                                <td>{{this}}</td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/if}}
        </div>
    </div>
</body>
</html>
