.van-doc {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #f7f8fa;
  color: #323233;
  text-align: left;
  font-size: 16px;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB,
    Microsoft Yahei, sans-serif;
  min-height: 100%;
}

.van-doc .source-code {
  margin-top: 24px;
  padding-top: 24px;
  width: 100%;
  border-top: 1px solid #f5f5f5;
}

.van-doc p {
  margin: 0;
}

.van-doc h1,
.van-doc h2,
.van-doc h3,
.van-doc h4,
.van-doc h5,
.van-doc h6 {
  margin: 0;
  font-size: inherit;
}

.van-doc ol,
.van-doc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.van-doc a {
  text-decoration: none;
}

.van-doc,
.van-doc-row {
  width: 100%;
}

@media (min-width: 1680px) {
  .van-doc-row {
    margin: 0 auto;
    width: 1680px;
  }
}

.van-doc-content {
  position: relative;
  margin-top: 64px;
  padding: 0 0 75px;
  -webkit-flex: 1;
  flex: 1;
}

.van-doc-content .card {
  margin-bottom: 24px;
  padding: 24px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 8px 12px #ebedf0;
}

.van-doc-content a {
  margin: 0 1px;
  color: #1989fa;
}

.van-doc-content a:hover {
  color: #0570db;
}

.van-doc-content a:active {
  color: #0456a9;
}

.van-doc-content h1,
.van-doc-content h2,
.van-doc-content h3,
.van-doc-content h4,
.van-doc-content h5,
.van-doc-content h6 {
  color: #323233;
  font-weight: 400;
  line-height: 1.5;
}

.van-doc-content h1[id],
.van-doc-content h2[id],
.van-doc-content h3[id],
.van-doc-content h4[id],
.van-doc-content h5[id],
.van-doc-content h6[id] {
  cursor: pointer;
}

.van-doc-content h1 {
  margin: 0 0 30px;
  font-size: 30px;
  cursor: default;
}

.van-doc-content h2 {
  margin: 45px 0 20px;
  font-size: 25px;
}

.van-doc-content h3 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
}

.van-doc-content h4 {
  margin: 24px 0 12px;
  font-weight: 600;
  font-size: 16px;
}

.van-doc-content h5 {
  margin: 24px 0 12px;
  font-weight: 600;
  font-size: 15px;
}

.van-doc-content p {
  color: #34495e;
  font-size: 15px;
  line-height: 26px;
}

.van-doc-content table {
  margin-top: 12px;
  width: 100%;
  border-collapse: collapse;
  color: #34495e;
  font-size: 14px;
  line-height: 1.5;
}

.van-doc-content table th {
  padding: 8px 10px;
  text-align: left;
  font-weight: 600;
}

.van-doc-content table th:first-child {
  padding-left: 0;
}

.van-doc-content table th:last-child {
  padding-right: 0;
}

.van-doc-content table td {
  padding: 8px;
  border-top: 1px solid #f1f4f8;
}

.van-doc-content table td:first-child {
  padding-left: 0;
}

.van-doc-content table td:first-child code {
  margin: 0;
  padding: 2px 6px;
  border-radius: 20px;
  background-color: rgba(25, 137, 250, 0.1);
  color: #1989fa;
  font-weight: 600;
  font-size: 11px;
}

.van-doc-content table td:last-child {
  padding-right: 0;
}

.van-doc-content table em {
  color: #4fc08d;
  font-style: normal;
  font-size: 14px;
  font-family: Source Code Pro, Monaco, Inconsolata, monospace;
}

.van-doc-content ol li,
.van-doc-content ul li {
  position: relative;
  margin: 5px 0 5px 10px;
  padding-left: 15px;
  color: #34495e;
  font-size: 15px;
  line-height: 26px;
}

.van-doc-content ol li:before,
.van-doc-content ul li:before {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin-top: 10px;
  width: 6px;
  height: 6px;
  border: 1px solid #666;
  border-radius: 50%;
  content: "";
}

.van-doc-content hr {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #eee;
}

.van-doc-content a > code,
.van-doc-content li > code,
.van-doc-content p > code,
.van-doc-content table code {
  display: inline;
  margin: 0 2px;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: #f7f8fa;
  font-size: 14px;
  font-family: inherit;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
}

.van-doc-content p > code {
  font-size: 14px;
}

.van-doc-content section {
  overflow: hidden;
  padding: 24px;
}

.van-doc-content blockquote {
  margin: 16px 0 0;
  padding: 16px;
  border-radius: 20px;
  background-color: #ecf9ff;
}

.van-doc-content img {
  margin: 16px 0;
  width: 100%;
  border-radius: 20px;
}

.van-doc-content--changelog strong {
  display: block;
  margin: 24px 0 12px;
  font-weight: 600;
  font-size: 15px;
}

.van-doc-content--changelog h3 + p code {
  margin: 0;
}

.van-doc-content--changelog h3 a {
  color: inherit;
  font-size: 20px;
}

.van-doc-nav {
  position: fixed;
  left: 0;
  z-index: 1;
  overflow-y: scroll;
  padding: 24px 0;
  max-width: 220px;
  min-width: 220px;
  background-color: #fff;
  box-shadow: 0 8px 12px #ebedf0;
}

@media (min-width: 1680px) {
  .van-doc-nav {
    left: 50%;
    margin-left: -840px;
  }
}

.van-doc-nav::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: initial;
}

.van-doc-nav::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: initial;
}

.van-doc-nav:hover::-webkit-scrollbar-thumb {
  background-color: rgba(69, 90, 100, 0.2);
}

.van-doc-nav__group {
  margin-bottom: 16px;
  padding-left: 6px;
}

.van-doc-nav__title {
  padding: 8px 0 8px 24px;
  color: #455a64;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
}

.van-doc-nav__item a {
  display: block;
  margin: 8px 0;
  padding: 8px 0 8px 24px;
  color: #455a64;
  font-size: 14px;
  line-height: 20px;
  transition: color 0.2s;
}

.van-doc-nav__item a.active,
.van-doc-nav__item a:hover {
  color: #4fc08d;
}

.van-doc-nav__item a.active {
  border-radius: 999px;
  background-color: #ebfff0;
  font-weight: 600;
}

.van-doc-nav__item a span {
  font-size: 13px;
}

@media (max-width: 1300px) {
  .van-doc-nav__item a {
    font-size: 13px;
  }

  .van-doc-nav__item:active {
    font-size: 14px;
  }
}

.van-doc-container {
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 220px;
}

.van-doc-container--with-simulator {
  padding-right: 384px;
}

.van-doc-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #001938;
  -webkit-user-select: none;
  user-select: none;
}

.van-doc-header__top {
  display: -webkit-flex;
  display: flex;
  padding: 0 24px;
  height: 64px;
  -webkit-align-items: center;
  align-items: center;
}

.van-doc-header__top-nav {
  text-align: right;
  font-size: 0;
  -webkit-flex: 1;
  flex: 1;
}

.van-doc-header__top-nav > li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.van-doc-header__top-nav-item {
  margin-left: 16px;
}

.van-doc-header__top-nav-title {
  display: block;
  font-size: 15px;
}

.van-doc-header__cube {
  position: relative;
  display: block;
  padding: 0 12px;
  border: 1px solid hsla(0, 0%, 100%, 0.7);
  border-radius: 20px;
  background: #f7f8fa;
  color: #001938;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.van-doc-header__version {
  padding-right: 20px;
}

.van-doc-header__version:after {
  position: absolute;
  top: 10px;
  right: 9px;
  width: 5px;
  height: 5px;
  border-color: transparent transparent currentcolor currentcolor;
  border-style: solid;
  border-width: 1px;
  color: #001938;
  content: "";
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.van-doc-header__version-pop {
  position: absolute;
  top: 34px;
  left: 0;
  z-index: 99;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 12px #ebedf0;
  color: #333;
  text-align: left;
  line-height: 36px;
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform-origin: top;
  transform-origin: top;
}

.van-doc-header__version-pop-item {
  padding-left: 12px;
  transition: 0.2s;
}

.van-doc-header__version-pop-item:hover {
  background-color: #f7f8fa;
  color: #1989fa;
}

.van-doc-header__logo {
  display: block;
}

.van-doc-header__logo img,
.van-doc-header__logo span {
  display: inline-block;
  vertical-align: middle;
}

.van-doc-header__logo sub {
  margin-left: 5px;
  color: #fff;
}

.van-doc-header__logo img {
  margin-right: 12px;
  width: 28px;
}

.van-doc-header__logo span {
  color: #fff;
  font-size: 22px;
}

.van-doc-header__link span {
  color: #fff;
  font-size: 16px;
}

.van-doc-header__link img {
  display: block;
  width: 30px;
  height: 30px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.van-doc-header__link img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.van-doc-dropdown-enter,
.van-doc-dropdown-leave-active {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.van-doc code {
  position: relative;
  display: block;
  overflow-x: auto;
  padding: 16px 20px;
  border-radius: 20px;
  background-color: #f8f8f8;
  color: #58727e;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 14px;
  font-family: Source Code Pro, Monaco, Inconsolata, monospace;
  line-height: 26px;
}

.van-doc pre {
  margin: 20px 0 0;
}

.van-doc pre + p {
  margin-top: 20px;
}

.van-doc .hljs-subst {
  color: #58727e;
}

.van-doc .hljs-addition,
.van-doc .hljs-meta,
.van-doc .hljs-string,
.van-doc .hljs-symbol,
.van-doc .hljs-template-tag,
.van-doc .hljs-template-variable {
  color: #4fc08d;
}

.van-doc .hljs-comment,
.van-doc .hljs-quote {
  color: #999;
}

.van-doc .hljs-attribute,
.van-doc .hljs-keyword,
.van-doc .hljs-params {
  color: #8080ff;
}

.van-doc .hljs-bullet,
.van-doc .hljs-deletion,
.van-doc .hljs-link,
.van-doc .hljs-literal,
.van-doc .hljs-number,
.van-doc .hljs-regexp,
.van-doc .hljs-variable {
  color: #eb6f6f;
}

.van-doc .hljs-attr,
.van-doc .hljs-built_in,
.van-doc .hljs-doctag,
.van-doc .hljs-name,
.van-doc .hljs-section,
.van-doc .hljs-selector-class,
.van-doc .hljs-selector-id,
.van-doc .hljs-selector-tag,
.van-doc .hljs-strong,
.van-doc .hljs-title,
.van-doc .hljs-type {
  color: #4994df;
}

.van-doc .hljs-emphasis {
  font-style: italic;
}

.van-doc .van-doc-intro {
  padding-top: 20px;
  text-align: center;
}

.van-doc .van-doc-intro p {
  margin-bottom: 20px;
}
