<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vite-plugin-vue-docs</title>
    <style>
            {{> style}}
    </style>
</head>
<body>
<div class="van-doc">
    <div class="van-doc-header">
        <div class="van-doc-row">
            <div class="van-doc-header__top"><a class="van-doc-header__logo">
<!--                <img src="https://img.yzcdn.cn/vant/logo.png" />-->
                <span>Vue Docs</span>
            </a>
                <ul class="van-doc-header__top-nav">
                    <li class="van-doc-header__top-nav-item">
                        <a class="van-doc-header__link" target="_blank"
                                                                href="https://github.com/meetqy/vite-plugin-vue-docs">
                        <img
                            src="https://b.yzcdn.cn/vant/logo/github.svg" alt=""/></a>
                    </li>
<!--                    <li class="van-doc-header__top-nav-item">-->
<!--                        <span class="van-doc-header__cube ">0.0.4</span>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </div>

    {{> nav route=route}}

    <div class="van-doc-container van-doc-row ">
        <div class="van-doc-content van-doc-content--common">
            {{> content name=content.name props=content.props emits=content.emits}}
        </div>
    </div>
</div>
</body>
</html>