<div class="van-doc-nav" style="top: 64px; bottom: 0px;">
  <div class="van-doc-nav__group">
    <div class="van-doc-nav__title">项目名称</div>
    <div class="van-doc-nav__item">
      {{#each route.list}}
        <a
          href="/docs{{this.path}}"
          class="router-link-active {{checkedNavActive}}"
        >
          {{this.name}}
        </a>
      {{/each}}
    </div>
  </div>
</div>